@{
	ViewData["Title"] = "Proyectos Habitacionales";
}

@await Html.PartialAsync("userAccess")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="container d-flex justify-content-center align-items-center">
    <a href="@Url.Action("Create", "Habitacionales")">
        <img src="Iconos\Agregar.png" style="width:50px; height:50px; margin:5px" />
    </a>
</div>

<div class="text-center">
	<div class="container">
		@foreach (var @item in @ViewBag.Habitacional)
		{
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title"> @item.Nombre_Habitacional </h5>
					<p class="card-text"> @item.Direccion_Habitacional </p>
                    <button class="btn btn-warning btn-sm"
                        onclick="window.location='@Url.Action("Editar", "Habitacionales", new {ID_Habitacional=@item.ID_Habitacional})'">
                        <i class="bi bi-pencil"></i>
                    </button>

                    <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        onClick="getValue(@item.ID_Habitacional)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
				</div>
			</div>
			 
		}
	</div>
</div>


@section Scripts
    {
    <script type="text/javascript">
        function getValue(idElemento) {
            $("#idDelete").val(idElemento);
        }

        function deleteElement() {
            var value = $("#idDelete").val();
            let url = '/Habitacionales/DeletePH?id_Habitacional=' + value;
            location.href = url;
        }
    </script>
}