@{
	ViewData["Title"] = "Proyectos Habitacionales";
}

@Html.Partial("userAccess")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="text-center">
	<div class="container">
		<form asp-controller="Housing" asp-action="GetHousing">
			<select name="id_Habitacional" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
				<option selected> Seleccione el proyecto habitacional </option>
				@if (@ViewBag.Housing is not null)
				{
					@foreach (var @item in @ViewBag.Housing)
					{
						<div class="card" style="width: 18rem;">
							<img src="..\@ViewBag.Housing.Logo_Habitacional" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="mb-1"> @ViewBag.Housing.Nombre_Habitacional </h5>
								<p class="mb-2 pb-1" style="color: #2b2a2a;"> @ViewBag.Housing.Codigo_Habitacional </p>
								<p class="small text-muted mb-1"> Direccion </p>
								<p class="mb-0"> @ViewBag.Housing.Direccion_Habitacional </p>
							</div>
						</div>
					}
				}
			</select>
		</form>
	</div>
</div>